.App {
  text-align: center;
}

.smurfs {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto
}

.smurf {
  width: 180px;
  margin:15px auto;
  border: 1px solid black;
  border-radius: 10px;
}
